{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="<!-- //TODO -->">

    <title>Labri.se ~</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Leaflet -->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document">

    {% block navbar %}
      <!-- navbar -->
      <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">Labri.se ~</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="{% url 'flightlog_home' %}">Flight logs</a></li>
              <li><a href="">News &amp; Alerts</a></li>
              <li><a href="">Stories</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Talk about... <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">... Paragling</a></li>
                  <li><a href="#">... Hang gliding</a></li>
                  <li><a href="#">... Kite</a></li>
                  <li class="divider"></li>
                  <li><a href="#">... Forecast</a></li>
                </ul>
              </li>
            </ul>
              {% block head_buttons %}
              {% endblock %}
            <ul class="nav navbar-nav navbar-right">
              {% if user.is_authenticated %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url 'show_member' user.member.pk %}">My profile</a></li>
                    <li><a href="">My settings</a></li>

                    {% if user.is_staff %}
                    <li class="divider"></li>
                    <li><a href="{% url 'admin:index' %}">Administration</a></li>
                    {% endif %}
                    
                    <li class="divider"></li>
                    <li>
                      <form action="{% url 'logout' %}" type="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-warning btn-block">Log out</button>
                      </form>
                    </li>
                  </ul>
                </li>
              {% else %}
                <li><button data-toggle="modal" data-target="#login" class="btn btn-success navbar-btn">Log in</button></li>
                <li><button data-toggle="modal" data-target="#register" class="btn btn-default navbar-btn">Register</button></li>
              {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
    {% endblock %}

    <div class="container-fluid">

      {# Display messages #}
      {% if messages %}
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              {{ message }}
            </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}

      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          {% block content %}{% endblock %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <hr>
          <p class="text-center"><strong>Labri.se ~ </strong>Because.</p>
        </div>
      </div>
    </div>

    {# Login modal #}
    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <form method="post" action="{% url 'auth:login' %}?next={{ request.path }}">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Log in</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-6">{% csrf_token %}
                  <p><label for="id_username">Username:</label> <input id="id_username" type="text" name="username" maxlength="30" /></p>
                  <p><label for="id_password">Password:</label> <input type="password" name="password" id="id_password" /></p>
                </div>
                <div class="col-md-6">
                  <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login with Google</a>
                </div>
              </div>
              
            </div>
            <div class="modal-footer">
              <input type="submit" class="btn btn-primary" value="Log in" />
              <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#register">Create an account</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <input type="hidden" name="next" value="{{ request.get_full_path }}">
            </div>
          </form>
        </div>
      </div>
    </div>

    {# Register modal #}
    <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="Register" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <form method="post" action="{% url 'register' %}">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Register</h4>
            </div>
            <div class="modal-body">
              
            </div>
            <div class="modal-footer">
              <input type="submit" class="btn btn-primary" value="Knock Knock">
              <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#login">I already have an account</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    {% block modals %}{% endblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static 'javascripts/bootstrap.min.js' %}"></script>
    <script type="text/javascript">{% block js %}{% endblock %}</script>
  </body>
</html>
